@font-face {
  font-family: Nunito-Regular;
  src: url(Nunito-Regular.ttf); }

@font-face {
  font-family: Nunito-Bold;
  src: url(Nunito-Bold.ttf); }

div.sphinxsidebar h3,
div.sphinxsidebar h4,
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
  color: #500926
}

div.body {
  color: #301d29
}
